<div class="cnv-container">
    <div class="toolbar" ng-init="action = tools.mouse">
        <button ng-click="action = tools.mouse" ng-class="{active:isActiveTab(tools.mouse)}"><i class="fa fa-mouse-pointer" aria-hidden="true"></i> Mouse</button>
        <button ng-click="action = tools.circle" ng-class="{active:isActiveTab(tools.circle)}"><i class="fa fa-circle-o" aria-hidden="true"></i> Circle</button>
        <button ng-click="action = tools.square" ng-class="{active:isActiveTab(tools.square)}"><i class="fa fa-square" aria-hidden="true"></i> Square</button>
        <button ng-click="action = tools.triangle" ng-class="{active:isActiveTab(tools.triangle)}"><i class="fa fa-caret-down" aria-hidden="true"></i> Triangle</button>
        <button ng-click="action = tools.eraser" ng-class="{active:isActiveTab(tools.eraser)}"><i class="fa fa-eraser" aria-hidden="true"></i> Eraser</button>
        <button ng-click="action = tools.trash"><i class="fa fa-trash" aria-hidden="true"></i> Trash</button>
        <span class="dropdown">
            <span class="title">width</span>
            <select ng-model="width">
                <option value="10">1</option>
                <option value="30">3</option>
                <option value="50">5</option>
            </select>
        </span>
        <span class="dropdown">
            <span class="title">color</span>
            <select ng-model="color">
                <option value="red">red</option>
                <option value="black">black</option>
                <option value="green">green</option>
            </select>
        </span>
        <span class="dropdown">
            <span class="title">line</span>
            <select ng-model="line">
                <option value="solid">solid</option>
                <option value="dashed">dashed</option>
                <option value="dashdot">dashdot</option>
            </select>
        </span>
    </div>
    <canvas id="canvas01"></canvas>
</div>