<div class="cnv-container">
    <div class="toolbar">
        <button ng-click="addPoint()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button ng-click="upPoint()" ng-class="{active:isActiveTab('up')}"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
        <button ng-click="downPoint()" ng-class="{active:isActiveTab('down')}"><i class="fa fa-caret-down " aria-hidden="true"></i></button>
    </div>
    <canvas id="canvas"></canvas>
</div>